*,
html {
    margin:0;
    padding:0;
}
/* Layout */
body {
    background-color: #f5f5f0;
    font-family: 'Roboto', sans-serif;

}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
}
main {
    background-color: white;
    padding: 25px 0 50px;
    
}
.profile-img {
    width: 70%;
}

img {
    width: 100%;
    margin: 0 auto; 
}

/* Header */
.main-nav {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;


}

ul {
    list-style-type: none;
    padding-left: 0px;
    background-color:#f5f5f0;
    
}

ul li {
    background-color: white;
    margin: 5px 0 5px;
    padding: 5px;
    
}

h1 {
    margin: 20px 0 20px;
}

header {
    margin: 1em;
    padding-bottom: .5em;
}
/* Main content */
h2 {
    margin: 30px 0 20px;
}

/* -------FOOTER-------- */

.margin-footer {
    margin: 50px 0 60px;
}


.links-contact {
    margin-top:20px; 
}

.border-footer {
    border-top: 2px solid #ebebe0;
    padding:20px;

}

.bottom-name {
    float: left;
    margin: 0;    
}

.top-button {
    float: right;
    font-size: 15px;
}

.clearfix::after {
    content:"";
    display:table;
    clear:both;
}

/* text and links footer */

h3 {
    padding-top: 1.5em;
    padding-bottom: 0.7em;
}

.link-footer {
    color: #242422;
    text-decoration: none;  
  }
  
  .top-button,
  li a {
      color: black;
      text-decoration: none;
  }
  
  p {
      margin: 20px 0 20px;
  }
